:root {
  --black: #000000;
  --white: #ffffff;
  --green: #b6f754;
  }
  /*variables have been declared in the root to make it easier to change the 3 main colours of the webpage.*/
  
#timer{
  font-size: 4rem;
  font-weight: bold;
}

li {
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 6px;
  margin-top:5%;
}

#quiz {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.537);
  justify-content: center;
  width: 100%;
  margin: 1px;
  margin-bottom: 4px;
  line-height: 1em;
  padding: 1px;
  color: rgb(82, 3, 70);
  font-size: 25px; 
  font-weight: bold; 
  border-radius: 5px;
}

.hidden {
  display: none;
}

button {
    background-color: rgba(163, 63, 135, 0.845);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px var(--green) ;
    color: var(--white);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}
button:hover {
    background-color: var(--green);
    color: var(--black);
  }

#participant {
  padding:6%;
}

body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  /*The body contains styling for the whole webpage including font size throughout, display attributes and background 
  attributes. Flex direction has been set to columns so that the website is responsive to changes in screen size and 
  appears as coloumns. Display: flex and justify-content: flex-start also support the page in responding to changes in
  screen size. Background colour has also been added despite having a background image incase of slow rendering or if 
  the image is unable to load. Background position, repeat and size centres the background image, stops it from 
  repeating and makes sure that the size of the picture covers the entire screen.*/
  
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bolder;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  }
  /* h1 is bold and has been given a larger font size compared to other headings on the page so that it is clear, 
  visable and stands out. Margin bottom gives the heading space under the text. Font family is included to ensure 
  that a similar font will be visable if the font chosen is not available for different browers*/
  
header {
  padding: 20px;
  text-align: center;
  background: rgba(128, 0, 128, 0.326);
  color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  }
  /*header refers to not only the style of the header element at the top of the page but also the headers 
  above each project.*/
  
nav {
  display: flex;
  background-color: rgba(216, 112, 147, 0.498);
  justify-content: center;
  margin-top: 20px;
  font-size: 2em;
  }
  /*This refers to the style of the navigation bar in html*/
nav a {
  color: var(--black);
  text-decoration: none;
  text-align: center;
  }
  /*This refers to the style of navigation links.*/
nav a:hover {
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  }
  /*nav a:hover allows the colour of the navigation links n background surrounding to change when the user hovers 
  over them*/
  
main {
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex; 
  flex-wrap: wrap;
  }

#message {
  background-color: var(--green);
  }
  
#endPage {
  justify-content: space-evenly;
  width: 100%;
  padding: 60px;
  }

#end {
  height: 1%;
  }
